#cor-rosa{
    background-color: rgba(233, 158, 183, 0.596)
}

.cor-rosaclaro{
    color: rgb(0, 0, 0);
}

.cor-rosinha{
    color: rgb(156, 61, 133) 
}

/*Menu*/
#menu li {
    display: inline;
    padding: 100px;
}

#menu a {
    text-decoration: none;
    color: rgba(216, 72, 108, 0.788);
}

#menu a li:hover{
    color: rgb(0, 0, 0);
}

.tm-social {
width: 50px;
height: 50px;
padding: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
  }
  
  .tm-img {
      width: 500px;
      height: 400px;
      padding: 30px;

  }
  
.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between; 
    margin: 30px;

}

.flex-container-contato {
    display: flex;
    justify-content: space-around;
  }

  .form-lg {
      width: 470px;
  }

